*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 20px;
  position: fixed;
  width: 100%;

}

.logo {
    font-size: 1.5em;
    line-height: 60px;
}
.navbar_link{
  height: 100%;
}
.navbar_link ul{
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.navbar_link ul li{
  padding: 0 20px;
}

.navbar_link a{
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 60px;
  display: block;

}

.navbar_link a:hover{
  background-color: rgb(86, 86, 86);
}
.toggle_button{
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 21px;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}

.toggle_button .bar{
  width: 100%;
  height: 3px;
  background-color: white;
}

.home, .About, .Service, .Contact{
  width: 100%;
  height: 99vh;
  background-color: cadetblue;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.About{
  background-color: burlywood;
}
.Service{
  background-color: rgb(60, 154, 255);
}
.Contact{
  background-color: rgb(125, 69, 178);
}
@media(max-width:768px){
  .navbar{
    flex-direction: column;
    align-items: self-start;
  }

  .toggle_button{
    display: flex;
  }
  .navbar_link{
    width: 100%;
    max-height: 0; 
    overlay: hidden;
    opacity: 0;
  }

  .navbar_link ul{
    flex-direction: column;
    width: 100%;
    
  }
 
  .navbar_link a {
      padding: 10px;
      line-height: 20px;
  }

  .navbar.active .navbar_link{
    opacity: 1;
    max-height: 300px;
  }

  .navbar.active .toggle_button .bar:nth-child(2){
    display: none;
  }

  .navbar.active .toggle_button .bar:nth-child(1){
    transform: translateY(9px) rotate(45deg);
  }

  .navbar.active .toggle_button .bar:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
  }
}